<%- include('partials/header.ejs') %>

<main>
  <section class="quiz">
    <h1>Quick Quiz</h1>
    <a class="link-button" href="/quiz">Play</a>
  </section>
</main>

<%- include('partials/footer.ejs') %>