<%- include('partials/header.ejs') %>

<main>
  <article class="quiz-information">
    <h1>FDND quizzen</h1>
    <h2>Bekijk hier al de quizzen en speel ze met de klas. En als je niet genoeg quizzen hebt kan je altijd een nieuwe quiz maken met de knop hieronder.</h2>
    <div class="fdnd-buttons">
      <a class="link-button" href="/quiz-aanmaken">Maak een quiz</a>
      <a class="link-button" href="/quiz-aanmaken">Bewerk een quiz</a>
      <a class="link-button" href="/quiz-aanmaken">Verwijder een quiz</a>
    </div>
  </article>
  
  <section class="quizzes">
    <article>
      <h2>De CSS Quiz</h2>
      <p>Deze quiz gaat over verschillende termen die te maken hebben met CSS. Het duurt 5 minuten om de quiz te maken</p>
      <a class="link-button" href="/quiz/1">Speel de quiz</a>
    </article>
    <img src="/assets/css-quiz-image.png" alt="">
  </section>
</main>

<%- include('partials/footer.ejs') %>