<%- include('partials/header.ejs') %>

<main>
  <section class="question-container">
    <h1 class="question"></h1>
    <p class="score-board">
      <span class="score-number">0</span>/<span class="answered-number">0</span>
    </p>
  </section>

  <form class="quiz-form">
    <div class="all-options">
    </div>
    <button type="submit">Submit</button>
  </form>
</main>

<%- include('partials/footer.ejs') %>