<%- include('partials/header.ejs') %>

<main>
  <section class="question-container">
    <h2 class="question"></h2>
  </section>

  <section class="answers">
    <article class="answer-container">
      <p class="answer-prefix">A</p>
      <p class="answer-text"></p>
    </article>
    <article class="answer-container">
      <p class="answer-prefix">B</p>
      <p class="answer-text"></p>
    </article>
    <article class="answer-container">
      <p class="answer-prefix">C</p>
      <p class="answer-text">Antwoord 3</p>
    </article>
    <article class="answer-container">
      <p class="answer-prefix">D</p>
      <p class="answer-text" data-number="4">Antwoord 4</p>
    </article>
  </section>
</main>

<%- include('partials/footer.ejs') %>