<%- include('partials/header.ejs') %>

<main>
  <section class="question-container">
    <h1 class="question"></h1>
    <h2 class="score-board">
      Jouw score:
      <span class="score-number">0</span>/<span class="answered-number">0</span>
    </h2>
  </section>

  <form class="quiz-form">
    <div class="all-options">
    </div>
    <button type="submit">Verstuur</button>
  </form>
    <button class="nextButton">Next</button>
</main>

<%- include('partials/footer.ejs') %>